# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
/.angular/cache/13.3.5/angular-webpack/b5336a1eae36a5b493a8284fd1dedd6af4751ad7/0.pack
/.angular/cache/13.3.5/babel-webpack/0d54d6e8512b25237b17a7804d144451.json
/.angular/cache/13.3.5/babel-webpack/a78e7d896aeb488c8f24a6189f6debec.json
/.angular/cache/13.3.5/babel-webpack/aee4adb8b4b2d467920415516d6cb03e.json
/.angular/cache/13.3.5/babel-webpack/b2dd372077afca3c49935f98566fea70.json
/.angular/cache/13.3.5/babel-webpack/c6d8adf2e6eaa0e1c3e95e2d969df5ba.json
/.angular/cache/13.3.5/babel-webpack/db0bc22a02cff0413cfb8cefa1a139ac.json
/.angular/cache/13.3.5/babel-webpack/fa505b60207e88a3c9b9bf0f06ca7e8b.json
/.angular/cache/13.3.5/angular-webpack/b5336a1eae36a5b493a8284fd1dedd6af4751ad7/index.pack
