.taskSetup {
  display: flex;
  flex-direction: column;

}
.taskSetup .mainList {

}
.taskSetup mat-card {
  width: calc(100% - 70px);
  height: calc(100% - 70px);
}
.taskSetup .configList {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.taskSetup .optionList {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.taskSetup mat-card-content > h2 {
  text-align: center;
}


.taskSetup .option-card{
  width: 32vw;
}

.taskSetup .options-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3vh;
}

.taskSetup .setup-option {
  display: flex;
  justify-content: center;
  align-items: center;
}

.taskSetup .title_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.taskSetup .task-config {
  display: flex;
  flex-direction: column;
}

.taskSetup .actionButtons {
  display: flex;
  justify-content: space-between;
  vertical-align: center;
}

.taskSetup .buttonContainer {
  display: flex;
  justify-content: center;

}
