

<mat-grid-list [cols]="cols" [rowHeight]="rowHeight">

  <mat-grid-tile
  >

    <mat-card class="course-card mat-elevation-z7">

      <mat-card-header>

        <mat-card-title>Select operator</mat-card-title>

      </mat-card-header>

      <mat-card-content>
        <div class="options-area">

            <div class="setup-option">
              <button mat-fab color="accent" (click)="updateOperator(mathOperator.mathOperator_add)">
                +
              </button>
            </div>
            <div class="setup-option">
              <button mat-fab color="accent" (click)="updateOperator(mathOperator.mathOperator_subtract)">
                -
              </button>
            </div>
            <div class="setup-option">
              <button mat-fab color="accent" (click)="updateOperator(mathOperator.mathOperator_multiply)">
                *
              </button>
            </div>
          </div>
          <div class="setup-option">
            <button mat-fab color="accent" (click)="updateOperator(mathOperator.mathOperator_divide)">
              /
            </button>
          </div>
      </mat-card-content>

      <mat-card-actions class="course-actions">

        <button mat-raised-button color="accent" (click)="editCourse(course)">
          UPDATE
        </button>

      </mat-card-actions>



    </mat-card>

  </mat-grid-tile>


</mat-grid-list>



