<div class="taskSetup">
  <div class="w3-container mainList">
    <div class="w3-container configList">
      <mat-grid-list [cols]=1 [rowHeight]="rowHeight">
        <mat-grid-tile>

          <mat-card class="mat-elevation-z7">
            <mat-card-content>
              <h2>Set up</h2>
              <div class="task-config">
                <span>Operator: {{taskConfig.mathOperator}}</span>
                <span>Quantity: {{taskConfig.quantity}}</span>
                <span>Range: {{taskConfig.range}}</span>
                <span>Variant: {{taskConfig.qMarkPosition.toString()}}</span>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="mat-elevation-z7">
            <mat-card-content>
              <h2>Ready?</h2>
              <div class="actionButtons">
                <div class="buttonContainer">
                  <button (click)="createTask()"
                          mat-fab color="primary"
                          aria-label="Example icon button with a delete icon">
                    <mat-icon>start</mat-icon>
                  </button>
                </div>
                <div class="buttonContainer">
                  <button (click)="resetSetup()"
                          mat-fab color="accent"
                          aria-label="Example icon button with a bookmark icon">
                    <mat-icon>restart_alt</mat-icon>
                  </button>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div class="w3-container optionList">
      <mat-grid-list [cols]="cols" [rowHeight]="rowHeight">
        <mat-grid-tile>
          <mat-card class="mat-elevation-z7">
            <mat-card-content>
              <h2>What operator?</h2>
              <div class="options-area" id="mathOperator">
                <div class="setup-option">
                  <button mat-fab color="primary" (click)="updateOperator(mathOperator.mathOperator_add)">
                    +
                  </button>
                </div>
                <div class="setup-option">
                  <button mat-fab color="primary" (click)="updateOperator(mathOperator.mathOperator_subtract)">
                    -
                  </button>
                </div>
                <div class="setup-option">
                  <button mat-fab color="primary" (click)="updateOperator(mathOperator.mathOperator_multiply)">
                    *
                  </button>
                </div>
                <div class="setup-option">
                  <button mat-fab color="primary" (click)="updateOperator(mathOperator.mathOperator_divide)">
                    /
                  </button>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="mat-elevation-z7">
            <mat-card-content>
              <h2>How many?</h2>
              <div class="options-area" id="taskQuantity">
                <div class="setup-option">
                  <button mat-fab color="primary" (click)="updateQuantity(taskQuantity.quantity_4)">
                    4
                  </button>
                </div>
                <div class="setup-option">
                  <button mat-fab color="primary" (click)="updateQuantity(taskQuantity.quantity_10)">
                    10
                  </button>
                </div>
                <div class="setup-option">
                  <button mat-fab color="primary" (click)="updateQuantity(taskQuantity.quantity_20)">
                    20
                  </button>
                </div>
                <div class="setup-option">
                  <button mat-fab color="primary" (click)="updateQuantity(taskQuantity.quantity_40)">
                    40
                  </button>
                </div>

              </div>

            </mat-card-content>

          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="mat-elevation-z7">
            <mat-card-content>
              <h2>What range?</h2>
              <div class="options-area" id="taskRange">

                <div class="setup-option">
                  <button mat-fab color="primary" (click)="updateRange(taskRange.range_10)">
                    10
                  </button>
                </div>
                <div class="setup-option">
                  <button mat-fab color="primary" (click)="updateRange(taskRange.range_20)">
                    20
                  </button>
                </div>
                <div class="setup-option">
                  <button mat-fab color="primary" (click)="updateRange(taskRange.range_50)">
                    50
                  </button>
                </div>
                <div class="setup-option">
                  <button mat-fab color="primary" (click)="updateRange(taskRange.range_100)">
                    100
                  </button>
                </div>
              </div>

            </mat-card-content>

          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="mat-elevation-z7">
            <mat-card-content>
              <h2>What "?" mark position?</h2>
              <div class="options-area" id="qMarkPosition">
                <div class="setup-option">
                  <button mat-fab color="primary" (click)="updateVariant(qMarkPosition.qMarkPosition_left)">
                    left
                  </button>
                </div>
                <div class="setup-option">
                  <button mat-fab color="primary" (click)="updateVariant(qMarkPosition.qMarkPosition_center)">
                    center
                  </button>
                </div>
                <div class="setup-option">
                  <button mat-fab color="primary" (click)="updateVariant(qMarkPosition.qMarkPosition_right)">
                    right
                  </button>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>


      </mat-grid-list>
    </div>
  </div>
</div>






